* {
  box-sizing: border-box;
}

html,
body {
  background-color: rgb(17, 24, 39);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.container {
  margin: 16px;
  display: flex;
  gap: 16px;
  height: 100vh;
}

.sidebar {
  background-color: rgb(31, 41, 55);
  color: white;
  padding: 24px 24px 24px 0;
  border-radius: 8px;
  border: none;
  display: flex;
  flex-direction: column;
  flex: 14%;
}

.sidebar .logo {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: 24px;
  margin-bottom: 8px;
}

.logo svg {
  fill: white;
  height: 48px;
  width: 48px;
}

.sidebar hr {
  margin: 24px;
  width: 85%;
}

.sidebar .sidebar-link {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.link {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 24px 12px 24px;
  border-radius: 0 16px 16px 0;
}

.link:hover {
  background-color: rgb(45, 59, 80);
}

.link a {
  text-decoration: none;
  color: white;
}

.link svg {
  fill: white;
  height: 32px;
  width: 32px;
} 

.logo h1 {
  margin: 0;
  font-size: 28px;
}

main {
  background-color: rgb(31, 41, 55);
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 15px;
  padding: 24px;
  border-radius: 8px;
  border: none;
  flex: 86%;
}

main .card {
  max-height: 250px;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 2fr 2fr 1fr;
  border-radius: 8px;
  padding: 16px;
  color: #5D6063;
  gap: 8px;
}

.card .summary {
  grid-column: 1/3;
  margin: 0;
}

main #open-dialog {
  height: 250px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 16px;
}

#open-dialog svg {
  width: 150px;
  height: 150px;
}

main #open-dialog:hover {
  transform: scale(1.1);
  svg {
    fill: rgb(29, 28, 28);
  }
}

dialog {
  padding: 32px;
  border: none !important;
  /* !important used here to override polyfill CSS, if loaded */
  border-radius: 8px;
  background-color: #F6F7F8;
  color: #5D6063;
}

dialog::backdrop {
  background: rgb(31, 41, 55, 75%);
}

.form-row {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
}

.form-row-button {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.form-row label {
  text-align: right;
  width: 120px;
  margin-top: 7px;
  padding-right: 20px;
}

.form-row input[type='text'],
.form-row input[type='number'],
.form-row textarea {
  background-color: #FFFFFF;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  width: 250px;
  height: initial;
  padding: 7px;
  font-size: 14px;
}

.form-row textarea {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 14px;

  border: 1px solid #D6D9DC;
  border-radius: 3px;

  min-height: 200px;
  margin-bottom: 10px;
  padding: 7px;
  resize: none;
}

.form-row .checkbox-label {
  margin-bottom: 0;
  margin-left: 120px;
  width: auto;
}

.form-row-button button {
  font-size: 16px;
  font-weight: bold;
  width: 120px;

  border-radius: 3px;

  padding: 10px 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.form-row-button #add-book {
  background-color: #5995DA;

  color: #FFFFFF;

  border: none;
}

.form-row-button #add-book:hover {
  background-color: #76AEED;
}

.form-row-button #add-book:active {
  background-color: #407FC7;
}

.btnRow {
  grid-column: 1/3;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 12px;
}

.deleteBookBtn {
  border: none;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  background-color: rgb(194, 190, 190);
}

.readToggleBtn {
  border: none;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  background-color: rgb(194, 190, 190);
}